::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

header{
    width: auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px #ccc solid;
    padding-left: 2em;
    padding-right: 2em;
}


.logo {
    width: 200px;
    height: auto;
  }

.login_link{
    color: #000;
    text-decoration: none;
    font-size: 1.25em;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}

.login_link:hover{
    text-decoration: underline;
}

main{
    display: flex;
    justify-content: center;
    
  
}

.container{
    margin-top: 2em;
    width: 70%;
    padding: 5em;
    
}

.txt{
    width: 100%;
    font-family: 'Montserrat',sans-serif;
    text-align: left;
}

p{
    font-weight: 500;
    margin: 0;
}

span{
    font-weight: 800;
}

h1{
    font-weight: 700;
    line-height: 1.5em;
    font-size: 2.2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }

  li {
    display: flex;
    justify-content: space-around;
    padding: .25em;
  }



  ul li p{
    width: 85%;
    text-align: left;
  }

  .checkmark{
    width: 25px;
    height: 25px;
  }

  .next{
    text-decoration: none;
    margin-top: 2em;
    width: 35%;
    height: 65px;
    border-radius: 5px;
    background: #fd0000;
    cursor: pointer;
    border: #fd0000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 1.75em;
    font-weight: 500;
  }


.next:hover{
    background: #000;
    color: #fd0000;
    box-shadow: 0 0 11px rgba(33,33,33,.6); 
    transition: all 1s ease-in-out;
  
}

.container_button{
    display: flex;
    justify-content: center;
}

.plan{
    
    margin-top: 3em;
    
}

.choice{
    display: flex;
    justify-content: flex-end;
    
}

.container_cube{
    width: 35%;
    display: flex;
    justify-content: center;
}


.cube {
    width: 150px;
    height: 150px;
    margin-right: 2%;
    background: #fd0000;
    border-radius: 5px;
     font-family: 'Montserra',sans-serif;
    color: #f3f3f3;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_price{
    margin-top: 2em;
}

.abonnement{
    
    display: flex;
}

.title {
    width: 35%;
}

.price {
    
    width: 35%;
    text-align: center;
    font-family: 'Montserra',sans-serif;
    font-weight: 600;
    color:#333;
}

.img{
    width: 25px;
    height: 25px;
}

.note{
 margin-top: 4em;
 font-weight: 400;
}

footer{
    height: 100px;
    background: #f3f3f3;
}