::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #f3f3f3;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

main:before {
  content: "";
  background-image: url(../images/background.jpg);
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}

.logo {
  display: flex;
}

.logo_netflox {
  padding: 2em;
  width: 200px;
  height: auto;
}

.login_container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.login_formulaire {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  width: 375px;
  height: 600px;
  padding: 4em;
}

h1 {
  font-size: 2.5em;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#login_email {
  margin-top: 1em;
  width: 350px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 1em;
  color: #7e6868;
}

#login_password {
  margin-top: 0.5em;
  width: 350px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 1em;
  color: #7e6868;
}

.login_submit {
  margin-top: 2em;
  width: 350px;
  height: 55px;
  border-radius: 5px;
  background: #fd0000;
  color: #f3f3f3;
  font-size: 1.25em;
  font-weight: 700;
  cursor: pointer;
}

.login_remember_me {
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.remember_me_login span {
  font-size: 1em;
  padding-left: 0.5em;
}
