
@media screen and (max-width: 1440px) {
  section {
    max-width: 100%;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 2.5em;
  }

  h5 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.75em;
  }

  #email {
    width: 500px;
    height: 65px;
    font-size: 1.25em;
  }

  .start {
    width: 230px;
    height: 69px;
    font-size: 1.55em;
  }

  .animation-iphone {
    position: absolute;
    height: 7vh;
    width: 20%;
    z-index: 2;
    top: 205%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .animation-text1 {
    font-size: 0.938em;
  }

  .animation-text2 {
    font-size: 0.75em;
  }

  .main-picture-animation {
    width: 50px;
    height: auto;
  }

  .animation-loader {
    width: 60px;
    height: auto;
    padding: 0;
  }

  .question__main {
    width: 75%;
  }

  .question__main .question__title p {
    font-size: 1.4em;
  }

  .question__main .question__answer p {
    font-size: 1.4em;
  }

  .text-question {
    font-size: 1.25em;
    text-align: center;
  }

  .line {
    width: 80%;
    height: 3px;
    background: #ffffff;
    position: absolute;
  }
  footer {
    width: 100%;
  }

  footer .container-footer .link-footer a {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 1250px) {
  section {
    max-width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 0.85em;
  }

  h4 {
    font-size: 2.25em;
  }

  h5 {
    font-size: 2.25em;
  }

  p {
    font-size: 1.6em;
  }

  #email {
    width: 450px;
    height: 60px;
    font-size: 1em;
  }

  .start {
    width: 185px;
    height: 65px;
    font-size: 1.25em;
  }
  .animation-iphone {
    height: 7vh;
    width: 20%;
    z-index: 2;
    top: %;
    padding: 1em;
    position: absolute;
  }

  .animation-text1 {
    font-size: 1em;
  }

  .animation-text2 {
    font-size: 0.75em;
  }

  .main-picture-animation {
    width: 45px;
    height: auto;
  }

  .animation-loader {
    width: 55px;
    height: auto;
    padding: 0;
  }

  .question__main {
    width: 75%;
  }

  .question__main .question__title p {
    font-size: 1.05em;
  }

  .question__main .question__answer p {
    font-size: 1.05em;
  }

  .text-question {
    font-size: 1.15em;
    text-align: center;
  }

  .line {
    width: 80%;
    height: 3px;
    background: #ffffff;
    position: absolute;
  }
  footer {
    width: 100%;
  }

  footer .container-footer .link-footer a {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.75em;
  }

  h4 {
    font-size: 2em;
  }

  p {
    font-size: 1.25em;
  }

  .animation-iphone {
    position: absolute;
    height: 5vh;
    width: 20%;
    z-index: 2;
    top: 205%;
    padding: 1em;
  }

  .animation-text1 {
    font-size: 0.6em;
  }

  .animation-text2 {
    font-size: 0.55em;
  }

  .main-picture-animation {
    width: 40px;
    height: auto;
  }

  .animation-loader {
    width: 50px;
    height: auto;
    padding: 0;
  }

  .question__main {
    width: 75%;
  }

  .question__main .question__title p {
    font-size: 1em;
  }

  .question__main .question__answer p {
    font-size: 1em;
  }
  .line {
    width: 50%;
    height: 2px;
    background: #ffffff;
    position: absolute;
  }

  .text-footer {
    font-size: 1.25em;
    text-align: center;
  }

  .link-question {
    font-size: 0.75em;
    text-align: center;
  }

  footer {
    width: 100%;
  }

  footer .container-footer .link-footer a {
    font-size: 0.65em;
  }
}

/*ipad - Tablette */

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.75em;
  }

  h4 {
    font-size: 2em;
  }

  p {
    font-size: 1.25em;
  }

  section {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1, 5em;
  }

  .section_left {
    width: 100%;
    height: auto;
  }

  .section_right {
    width: 100%;
    height: auto;
  }

  .section_text {
    padding-top: 3em;
    text-align: center;
  }

  .animation-iphone {
    position: absolute;
    height: 10vh;
    width: 38%;
    z-index: 2;
    top: 250%;
    padding: 0.75em;
  }

  .animation-text1 {
    font-size: 1em;
  }

  .animation-text2 {
    font-size: 0.65em;
  }

  .section_img_children {
    display: flex;
    justify-content: center;
  }
  .question__main {
    width: 75%;
  }

  .question__main .question__title p {
    font-size: 1em;
  }

  .question__main .question__answer p {
    font-size: 1em;
  }
  .line {
    width: 50%;
    height: 2px;
    background: #ffffff;
    position: absolute;
  }
}
