::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

header{
    width: auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px #ccc solid;
    padding-left: 2em;
    padding-right: 2em;
}


.logo {
    width: 200px;
    height: auto;
  }

.login_link{
    color: #000;
    text-decoration: none;
    font-size: 1.25em;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}

.login_link:hover{
    text-decoration: underline;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80vh;   
}

.device{
    width: 350px;
    height: 100px;
}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}

p{
    margin: 0;
    text-align: center;
    font-weight: 500;
}

span{
    font-weight: 800;
}

h1{
    font-weight: 700;
    margin: 0.5rem;
    font-size: 2em;
}

h2{
    font-weight: 500;
    font-size: 1.25em;
    margin: 0.5rem;
}

.next{
    text-decoration: none;
    color: #f3f3f3;
    font-size: 1.75em;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    background: #fd0000;
    width: 400px;
    height: 75px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin-top:  1.5em;
}

.next:hover{
        background: #000;
        color:#fd0000;
        box-shadow: 0 0 11px rgba(33,33,33,.6); 
        transition: all 1s ease-in-out;
      
}

footer{
    height: 100px;
    background: #f3f3f3;
}