/*input placé dans le formulaire Step1.html*/

input[type="password"] {
  width: 85%;
  height: 65px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 1em;
  color: #7e6868;
}

input[type="email"] {
  width: 85%;
  height: 65px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 1em;
  color: #7e6868;
}

input[type="submit"]{
  border-style: none;
  color: #f3f3f3;
  font-size: 1.75em;
  font-weight: 500;
  background: #fd0000;
  width: 400px;
  height: 75px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2em;
}

input[type="submit"]:hover {
  background: #000;
  color: #fd0000;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.6);
  transition: all 1s ease-in-out;
}
