/*header pour toutes les étapes d'enregistrement*/

header {
  width: auto;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px #ccc solid;
  padding-left: 2em;
  padding-right: 2em;
}

header img {
  width: 200px;
  height: auto;
}

header a {
  color: #000;
  text-decoration: none;
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

header a:hover {
  text-decoration: underline;
}
