
.main_step3 {
  height: auto;
}

.steps_grid {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.steps_text_grid {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan {
  margin-top: 3em;
}

.choice {
  display: flex;
  justify-content: flex-end;
}

.container_cube {
  width: 35%;
  display: flex;
  justify-content: center;
}

.cube {
  width: 150px;
  height: 150px;
  margin-right: 2%;
  background: #fd0000;
  border-radius: 5px;
  font-family: "Montserra", sans-serif;
  color: #f3f3f3;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_price {
  margin-top: 2em;
}

.abonnement {
  display: flex;
}

.title {
  width: 35%;
}

.description {
  width: 35%;
  text-align: center;
  font-family: "Montserra", sans-serif;
  font-weight: 600;
  color: #333;
}

.img {
  width: 25px;
  height: 25px;
}

.note {
  margin-top: 4em;
  font-weight: 400;
}
