/*background pour chaques pages pour ne pas déformer l'image et pourvoir la couper et garder la même structure pour chaque page*/
.movie_img_asterix {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/asterix_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_bumblebee {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/bumblebee_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_joker {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/joker_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_copain-pour-toujours {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/copain_desc_movies.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_creed {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/creed_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_john-wick {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/john-wick_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_jurassic-park {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/jurassic-park_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}
.movie_img_murder-mystery {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/murder-mystery_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}
.movie_img_sos-fantomes {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/sos-fantome_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_spiderman {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/spider-man_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_venom {
  width: 850px;
  height: 425px;
  background-image: url(../../images/movies/venom_desc_movies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.movie_img_arrested-developpement {
    width: 850px;
    height: 425px;
    background-image: url(../../images/movies/arrested-developement_desc_series.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }

  .movie_img_big-bang-theory {
    width: 850px;
    height: 425px;
    background-image: url(../../images/movies/big-bang-theory_desc_series.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }

  .movie_img_cobra-kai {
    width: 850px;
    height: 425px;
    background-image: url(../../images/movies/cobra-kay_desc_series.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }

  .movie_img_h {
    width: 850px;
    height: 425px;
    background-image: url(../../images/movies/h_desc_series.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }

  .movie_img_stranger-things {
    width: 850px;
    height: 425px;
    background-image: url(../../images/movies/stanger-things_desc_series.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }
  
  .movie_img_the-office {
    width: 850px;
    height: 425px;
    background-image: url(../../images/movies/the-office_desc_series.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }

  .movie_img_lupin {
    width: 850px;
    height: 425px;
    background-image: url(../../images/movies/lupin_desc_movies.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }