
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  position: fixed;
  transition: 200ms ease-in-out background-color, 200ms ease-in-out box-shadow;
  font-family: Montserrat, sans-serif;
  background-color: rgba(14, 14, 14, 0.2);
  z-index: 1;
}

nav .menu {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
}
nav.profile {
  display: flex;
  align-items: center;
  
}

.header_main_img_logo {
  width: 100px;
  height: 35px;
}

.header_profil_img {
  width: 45px;
  height: 45px;
  padding-right: 1.5em;
}

header video{
  width: 100%;
  position: relative;
  z-index: 0;
}


header ul {
  display: flex;
}

header ul li {
  list-style: none;
}

 header a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
  transition: 200ms ease-in-out background-color, 200ms ease-in-out color;
}

.active_nav {
  background: linear-gradient(
    0deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(14, 14, 14, 1) 95%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
}
.active_nav ul li a,
.active_nav .logo {
  color: #f3f3f3;
}
.active_nav ul li a:hover {
  color: #f3F3F3;
  font-weight: 500;
}



