main {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .movies {
  margin-left: 1em;
  margin-right: 1em;
}

main .movies h1 {
  margin: 0;
}

main .movies img {
  width: 100%;
  border-radius: 5px;
}

main .movies ul {
  display: flex;
}

main .movies li + li {
  /*Alignement des images rapport h1*/
  padding-left: 0.75em;
}
